absl-py==0.11.0
alabaster==0.7.12
altair==4.1.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
astor==0.8.1
astroid==2.4.2
async-generator==1.10
attrs==20.2.0
autoflake==1.4
autopep8==1.5.2
-e git+https://github.com/AdonaiVera/Bello.git@286e05637d8906c5d9119dcfff7249da3a2bab51#egg=awesome_streamlit&subdirectory=package
Babel==2.8.0
backcall==0.2.0
bandit==1.6.2
base58==2.0.1
black==20.8b1
bleach==3.2.1
blinker==1.4
blis==0.4.1
bokeh==2.0.2
boto3==1.16.4
botocore==1.19.4
Brotli==1.0.9
cached-property==1.5.2
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.0
colorcet==2.0.2
commonmark==0.9.1
coverage==5.3
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.3
dash==1.17.0
dash-core-components==1.13.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.0
decorator==4.4.2
defusedxml==0.6.0
doc8==0.8.1
docformatter==1.3.1
docutils==0.16
emoji==0.6.0
entrypoints==0.3
enum-compat==0.0.3
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-2.2.0/es_core_news_md-2.2.0.tar.gz
Fiona==1.8.17
Flask==1.1.2
Flask-Compress==1.7.0
funcy==1.15
future==0.18.2
gast==0.2.2
gensim==3.8.3
geopandas==0.6.2
gitdb==4.0.5
GitPython==3.1.11
google-auth==1.23.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
googletrans==3.0.0
graphviz==0.13
grpcio==1.33.2
h11==0.9.0
h2==3.2.0
h5py==3.0.0
holoviews==1.13.5
hpack==3.0.0
hstspreload==2020.10.20
httpcore==0.9.1
httpx==0.13.3
hvplot==0.5.2
hyperframe==5.2.0
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
iniconfig==1.1.1
invoke==1.3.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.6.4
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
livereload==2.6.3
lxml==4.4.1
marisa-trie==0.7.5
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
multitasking==0.0.9
munch==2.5.0
murmurhash==1.0.2
mypy==0.790
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.1
nltk==3.5
notebook==6.1.4
numexpr==2.7.1
numpy==1.19.2
oauthlib==3.1.0
opencv-python==4.1.1.26
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.3
panel==0.9.5
param==1.10.0
parso==0.7.1
pathspec==0.8.0
pathtools==0.1.2
patsy==0.5.1
pbr==5.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pkginfo==1.6.1
plac==0.9.6
plotly==4.1.0
plotly-express==0.4.1
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.13.0
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py==1.9.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyct==0.4.8
pydeck==0.5.0b1
pydot==1.4.1
pyflakes==2.2.0
pyformat==0.7
Pygments==2.7.2
pyLDAvis==2.1.2
pylint==2.6.0
pylint2junit==1.0.1
pyparsing==2.4.7
pyproj==2.6.1.post1
pyquery==1.4.1
pyrsistent==0.17.3
pyspellchecker==0.5.5
pytest==6.1.2
pytest-cov==2.10.1
pytest-mock==3.3.1
pytest-sugar==0.9.4
python-dateutil==2.8.1
pytz==2020.1
pyviz-comms==0.7.6
PyYAML==5.2
pyzmq==19.0.2
readme-renderer==28.0
recommonmark==0.6.0
regex==2020.10.28
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
restructuredtext-lint==1.3.1
retrying==1.3.3
rfc3986==1.4.0
rsa==4.6
s3transfer==0.3.3
scikit-learn==0.22
scipy==1.5.3
seaborn==0.11.0
Send2Trash==1.5.0
sentiment-analysis-spanish==0.0.24
Shapely==1.7.1
six==1.15.0
sklearn==0.0
smart-open==3.0.0
smmap==3.0.4
sniffio==1.2.0
snowballstemmer==2.0.0
spacy==2.2.1
spanish-sentiment-analysis==1.0.0
Sphinx==1.8.4
sphinx-autobuild==2020.9.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport==1.2.4
sportsreference==0.4.6
SQLAlchemy==1.3.20
srsly==1.0.2
statsmodels==0.12.1
stevedore==3.2.2
streamlit==0.69.2
tensorboard==2.0.2
tensorflow==2.0.1
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
textblob==0.15.3
thinc==7.1.1
threadpoolctl==2.1.0
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
tqdm==4.51.0
traitlets==5.0.5
tweepy==3.9.0
tweet-preprocessor==0.6.0
twine==2.0.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==2.1
Unidecode==1.1.1
unify==0.5
untokenize==0.1.1
urllib3==1.25.11
vaderSentiment==3.2.1
validators==0.18.1
wasabi==0.8.0
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.0
wrapt==1.12.1
xlrd==1.2.0
yahooquery==1.0.11
yapf==0.30.0
yfinance==0.1.45
zipp==3.3.2
